html,body,#app {
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.el-breadcrumb {
  margin-bottom: 15px;
  /* font-size: 12px !important; */
}
.el-table,.el-pagination {
  margin-top: 15px;
}

